[tool.poetry]
name = "mvc-flask"
version = "1.0.1"
description = "turn standard flask into mvc"
authors = ["Marcus Pereira <oi@negros.dev>"]

readme = "README.md"
license = "MIT"
keywords = ["flask", "flask extensions", "flask mvc", "flask-mvc", "mvc flask", "flask design pattern"]

repository = "https://github.com/marcuxyz/mvc_flask"
homepage = "https://github.com/marcuxyz/mvc_flask"


[tool.poetry.dependencies]
python = ">=3.6.2,<4.0.0"
Flask = "^2.0.1"

[tool.poetry.dev-dependencies]
ward = "^0.63.0-beta.0"
python-dotenv = "^0.19.0"
black = "^21.8b0"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
