black==21.8b0; python_full_version >= "3.6.2"
click-completion==0.5.2; python_full_version >= "3.6.1" and python_full_version < "4.0.0"
click-default-group==1.2.2; python_full_version >= "3.6.1" and python_full_version < "4.0.0"
click==8.0.1; python_full_version >= "3.6.2" and python_full_version < "4.0.0" and python_version >= "3.6"
colorama==0.4.4; platform_system == "Windows" and python_version >= "3.6" and python_full_version >= "3.6.1" and python_version < "4.0" and python_full_version < "4.0.0"
commonmark==0.9.1; python_version >= "3.6" and python_version < "4.0" and python_full_version >= "3.6.1" and python_full_version < "4.0.0"
cucumber-tag-expressions==2.0.4; python_full_version >= "3.6.1" and python_full_version < "4.0.0" and python_version >= "2.7"
dataclasses==0.7; python_version == "3.6" and python_full_version >= "3.6.2" and python_full_version < "4.0.0"
flask==2.0.1; python_version >= "3.6"
importlib-metadata==4.8.1; python_version < "3.8" and python_version >= "3.6" and python_full_version >= "3.6.1" and python_full_version < "4.0.0"
itsdangerous==2.0.1; python_version >= "3.6"
jinja2==3.0.1; python_full_version >= "3.6.1" and python_full_version < "4.0.0" and python_version >= "3.6"
markupsafe==2.0.1; python_version >= "3.6"
mypy-extensions==0.4.3; python_full_version >= "3.6.2"
pathspec==0.9.0; python_full_version >= "3.6.2"
platformdirs==2.3.0; python_version >= "3.6" and python_full_version >= "3.6.2"
pluggy==0.13.1; python_full_version >= "3.6.1" and python_full_version < "4.0.0"
pprintpp==0.4.0; python_full_version >= "3.6.1" and python_full_version < "4.0.0"
pygments==2.10.0; python_version >= "3.6" and python_version < "4.0" and python_full_version >= "3.6.1" and python_full_version < "4.0.0"
python-dotenv==0.19.0; python_version >= "3.5"
regex==2021.8.28; python_full_version >= "3.6.2"
rich==10.9.0; python_version >= "3.6" and python_version < "4.0" and python_full_version >= "3.6.1" and python_full_version < "4.0.0"
shellingham==1.4.0; python_version >= "2.6" and python_version < "3.0" and python_full_version >= "3.6.1" and python_full_version < "4.0.0" or python_version > "3.0" and python_version < "3.1" and python_full_version >= "3.6.1" and python_full_version < "4.0.0" or python_version > "3.1" and python_version < "3.2" and python_full_version >= "3.6.1" and python_full_version < "4.0.0" or python_version > "3.2" and python_version < "3.3" and python_full_version >= "3.6.1" and python_full_version < "4.0.0" or python_full_version >= "3.6.1" and python_full_version < "4.0.0" and python_version > "3.3"
six==1.16.0; python_full_version >= "3.6.1" and python_full_version < "4.0.0"
tomli==1.2.1; python_full_version >= "3.6.2" and python_full_version < "4.0.0" and python_version >= "3.6"
typed-ast==1.4.3; python_version < "3.8" and python_full_version >= "3.6.2"
typing-extensions==3.10.0.2
ward==0.63.0b0; python_full_version >= "3.6.1" and python_full_version < "4.0.0"
werkzeug==2.0.1; python_version >= "3.6"
zipp==3.5.0; python_version < "3.8" and python_version >= "3.6"
